<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: #000000;
        font-style: italic;
        font-size: 20px;
        color: #fff; /* Set the font color to bright white */
    }
</style>
<body>
    
    <h1 style="color: #ff00dd">Vārds: </h1>
        Lauris
    <h1 style="color: #7700ff">Uzvārds: </h1>
        Golde
    <h1 style="color: #ff7300">Hobiji: </h1>
        Alpha training, Sigma grindset, Coding
        
        <p>Atgriezies atpakaļ <a href="/">spiežot šeit!</a></p>
    
</body>
</html>


