<!-- <h1>Hello world :P</h1>

<ol>
    <li>sis</li>
    <li>ir</li>
    <li>ol- ordered list</li>
    <li>saraksts</li>
</ol>

<ul>
    <li>sis</li>
    <li>ir</li>
    <li>ul- unordered list</li>
    <li>saraksts</li>
</ul> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!--#Head sadaļa - Mājaslapas iestatītuji (konfigurējumi)-->
    <title>Document</title>
</head>
<style>
    body{
        margin-left: auto;
        margin-right: auto;
    }
</style>
<body>     

    <iframe width="1880" height="315" 
    src="https://www.youtube.com/embed/_yPE6X3ARxM?si=OiI4N8c7aSTTYnTI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
     clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
    
</body>
</html>
